<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consigli Utilizzo Software GTA</title>
</head>
<body>
    <div class="container mt-5">
        <header class="text-center">
            <h1 class="display-4">Consigli per Utilizzo Software GTA</h1>
        </header>
        <section class="mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2" style="text-align: justify;">
                    <p>
                        Per poter andare ad inserire nel software un nuovo terreno è necessario andare prima a definire la località in cui esso si trova.
                    </p>
                    <p>
                        Per poter andare ad inserire una coltivazione è necessario aver precedentemente creato o controllato se sono già memorizzate nella base di dati del software sia il terreno che ospiterà la coltivazione sia la coltura che verrà piantata.
                    </p>
                    <p>
                        Per poter andare ad assegnare ad una coltivazione i lavori effettuati su di essa, sia i lavori che le coltivazioni dovranno essere già memorizzate nella base di dati del software.
                    </p>
                    <p>
                        Per poter andare ad assegnare i lavoratori a delle lavorazioni, sia i lavori che i lavoratori dovranno essere già memorizzati nella base di dati del software.
                    </p>
                    <p>
                        Per poter andare ad assegnare una spesa ad un determinato lavoro, il lavoro deve essere già presente nella base di dati del software.
                    </p>
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <img src="https://img.freepik.com/premium-vector/wheat-grain-icon-vector-logo-design-simple-wheat-grain-vector-icon-logo-design_617472-2735.jpg" alt="Logo del grano" class="img-fluid" style="width: 40%; height: auto;">
                </div>
            </div>
        </section>
    </div>
</body>
</html>
