@page
@using GestioneTerreniAgricoli.Areas.Identity.Pages.Account
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Conferma Email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
